// $color-primary: #f59a83;
$color-primary: #f38e82;
$color-grad-1: #fbdb89;
$color-grad-2: #f48982;
$color-emphasis: rgb(238, 78, 53);


$color-grey-light-1: #f9f5f3; // Light background
$color-grey-light-2: #f2efee; // Light lines
$color-grey-light-3: #d3c7c3; // Light text (placeholder)
$color-grey-light-4: #e9e3e3;
$color-grey-dark-1: #615551; // Normal text
$color-grey-dark-2: #918581; // Lighter text
$color-star-yellow:rgb(255, 200, 0); 
$color-light-blue: rgb(67, 112, 249);
$color-dark-blue: rgb(10, 10, 124);
$color-dark-blue-2: rgb(18, 18, 71);
$font-color: rgb(50, 46, 46);
$font-color-light: rgb(131, 130, 130);
$font-color-dark: rgb(20, 18, 18);

$gradient: linear-gradient(to right bottom, $color-grad-1, $color-grad-2);

$bp-large: 78.15em; // 1250px
$bp-medium: 61.25em; // 980px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

@mixin list-photo {
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  overflow: hidden;
}

@mixin flex-row-c {
  display: flex;
  align-items: center;
}
@mixin flex-row-cc {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin title($font-size) {
  font-weight: 700;
  font-size: $font-size;
}

@mixin icon-before-element-mask($url, $color){
  -webkit-mask-image: $url;
  -webkit-mask-size: contain;
  background-color: $color;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  @include icon-size-margin;
}
@mixin flex-col-c {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@mixin border-radius-card {
  border-radius: 1.5rem;
}
@mixin box-shadow {
  box-shadow: 0 0.5rem 0.8rem #24151017 ;
}
@mixin label($color) {
  background-color: $color;
  border-radius: 1rem;
  @include title(1.2rem);
  padding: 0.8rem 1rem;
  color: #ffffff;
  width: max-content;

}
@mixin reviewScoreLabel($font-size) {
  border-radius: 1rem;
  @include title($font-size);
  color: #ffffff;
  background-color: rgb(29, 29, 117);
  @include flex-col-c;
  justify-content: center;
  min-width: min-content;
  max-height: 12rem;
  padding: 1rem;

}
@mixin sideHighlight($bg-color) {
  width: 1.5rem;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: $bg-color;
}

@mixin icon-size-margin {
  height: 2rem;
  width: 2rem;
  margin-right: 0.5rem;
}

@mixin gallery-photo{
  width: 100%;
  height: 100%;
  transition: transform .3s;
  position: relative;
  @supports((object-fit: cover)or(-o-object-fit: cover)){
    object-fit: cover;
    -o-object-fit: cover;
  }
  &:hover{
    transform: scale(1.2);
    filter: brightness(0.7);
   
  } 
}
@mixin hover-bg {
  background-color: $color-grey-light-1;
}


* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  background: none;
  border: none;
  text-decoration: none;
  appearance: none;
  font-family: 'Cabin', sans-serif;
  list-style: none;

  
}

html {
  // position: relative;
  box-sizing: border-box;
  font-size: 62.5%;
  @media only screen and (max-width: $bp-medium) {
    font-size: 50%;
  }
}

body {
  position: relative;
  font-family: 'Nunito Sans', sans-serif;
  font-size: 1.6rem;
  color: $color-grey-dark-1;
  background-image: $gradient;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 2 * 4vw);
}

.container {
  max-width: 120rem;
  min-height: 117rem;
  margin: 4vw auto;
  background-color: #fff;
  border-radius: 9px;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba($color-grey-dark-1, 0.2);

  display: grid;
  grid-template-rows:8rem minmax(18rem, max-content) minmax(60rem, auto);
  grid-template-columns:max-content 2.2fr;
  grid-template-areas:
    'nav nav'
    'head head'
    'list detail';

}

.nav{
  grid-area: nav;
  padding: 2rem 3rem;
  @include flex-row-c;
  @include box-shadow;
  justify-content: space-between;
  &__list{
    position: relative;

  }

  &__logo{
    @include title(2.4rem);
    color: $font-color-dark;
  }
  &__item{
    @include flex-row-c;
    padding: 1rem 1.6rem;
    border-radius: 5rem;
    &:hover{
      @include hover-bg;
      .nav__item__modal{
        visibility: visible;
      }
    }

    &__modal{
      visibility: collapse;
      position: absolute;
      z-index: 99;
      background-color: rgb(255, 255, 255);
      min-width: 32rem;
      min-height: max-content;
      top: 4rem;
      right: 0;
      @include flex-row-cc;

      @include box-shadow;
      &-list{
        width: 100%;
        position: relative;
        display: grid;
        grid-template-columns: 5rem 1fr 5rem;
        grid-template-areas: "img name score";
        grid-column-gap: 0.8rem;
        align-items: center;
        padding: 2rem;
        & img{
          grid-area: img;
          @include list-photo;
          margin-right: 1rem;
        }
        &:hover{
          @include hover-bg
        }

        .score{
          justify-self: flex-end;
          @include flex-row-c;
          &::before{
            content: "";
            
            @include icon-before-element-mask(url('../img//star-solid.svg'), $color-star-yellow)
          }
        }
      }
    }
  }
  .nav__item-bookmark--icon{
    fill: $color-primary;
    margin-right: 0.5rem;
  }

}

.hidden{
  visibility: hidden;
}

.overlay{
  background-color: #6155516d;
  height: 100vh;
  width: 100vw;
  z-index: 99;
  position: fixed;
  top: 0;
  left: 0;

  @supports((-webkit-backdrop-filter:blur(4rem))or(backdrop-filter: blur(0.1rem))){
    -webkit-backdrop-filter: blur(0.1rem);
    backdrop-filter: blur(0.1rem);

  }
}

.main-title{
  @include title(2rem);
  @include flex-row-c;
  margin-bottom: 2rem;

}
.sub-title{
  @include title(1.8rem);
  margin-bottom: 1.6rem;
}

@mixin photo-hover-content($content) {
  content: $content;
  color: white;
  position: absolute;
  width: 100%;
  top: 45%;
  @include flex-row-cc;

}


.modal{
  z-index: 10000;
  @include border-radius-card;
  background-color: white;
  padding: 2rem;

  &-icon{
    position: absolute;
    top: 1.5rem;
    right: 1rem;
    fill: $font-color-light;
    border-radius: 100%;
    box-sizing: content-box;
    padding: 1rem;
    &:hover{
      background-color: rgba(50, 46, 46, 0.209);
    }
  }

  &-gallery{
    position: fixed;
   
    top: 10%;
    left: 20%;
    width: 60vw;
    height: 80vh;
    padding: 6rem 2rem;

    
    &__main{
      overflow-y: scroll;
      height: 100%;
      width: 100%;
      display: grid;
      grid-template-columns: repeat(auto-fit, 25rem);
      grid-template-rows: repeat(auto-fit, 25rem);
      justify-content: center;
      grid-gap: 1.5rem;
     

      &-photo{
        height: 25rem;
        width: 25rem;
    
        overflow: hidden;
        position: relative;
        
        & > *{
        @include gallery-photo;    
        }
  
        &:hover::after{
         @include photo-hover-content(attr(data-tag));
         
        }   
      }
    }
  } 
}

.fallback-message{
  padding: 3rem;
  text-align: center;
  color: $font-color-light;
  font-size: 1.8rem;
}

