@import './search';
@import './base';


.icon{
  height: 2rem;
  width: 2rem;

  &-title{
    margin-right: 1rem;
    @include rwd(phone){
    margin-right: 0.5rem;
  }
  }
  &-bookmark{
    fill: white;
    width: 2.4rem;
    height: 2.4rem;
    transition: transform .3s;
    &:hover{
      opacity: 1;
      transform: scale(1.5);
    }
  }
}

.btn-bookmark{
  background-color: rgba(237, 244, 247, 0.659);
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 10;
  border-radius: 100%;
  overflow: hidden;
  width: 6rem;
  height: 6rem;
  @include flex-row-cc;
  }


.spinner {
    margin: 5rem auto;
    text-align: center;
    position: absolute;
    top: 20%;
    right: 50%;
    left: 50%;
  
    svg {
      height: 6rem;
      width: 6rem;
      fill: $color-primary;
      animation: rotate 2s infinite linear;
    }
  }
  
  @keyframes rotate {
    0% {
      transform: rotate(0);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }

.btn{
    padding: 1rem 2rem;
    border-radius: 5rem;
    background-color: $color-grey-light-1;
    color: $color-primary;
    @include title(1.4rem);
    @include flex-row-c;
    @include box-shadow;
    &:hover{
      filter: brightness(0.9)
    }
    &:active{
      transform: translateY(0.5rem)
    }
  }

  .pagination{
    @include flex-row-c;
    justify-content: space-between;
    width: max-content;
    &__btn--prev{
      justify-self: flex-start
    }
    &__btn--next{
      justify-self: flex-end
    }
    &>*{
      margin: 2rem
    }
  }
  

  .search__icon{
    @include icon-size-margin;
    fill:$color-primary;
    
  }
 