@import './base';
.header{
    grid-area: head;
  
    .search{
        background-color: #faf4f417;
        @include flex-row-cc;
        flex-wrap: wrap;
        max-width: 95rem;
        margin: auto;  
        padding: 3rem 2rem;
       
        &__input__item{
            width: max-content;
            height: max-content;

            @include flex-row-cc;
            flex-wrap: wrap;
            margin: 0.5rem 1.5rem;
            
            &>*{
                @include flex-row-cc;
                margin: 0.5rem;
                
            }
           &-text{
               width: 100%;
            &--search-field{
                flex: 0 1 50%;
            }
            &--sort{
                flex: 0 1 max-content;
            }
           }
           &-btn{
              background-color: $color-primary;
              color: white;
              svg{
                  fill: currentColor;
              }
           }
         

        }

        label{
            margin-right: 0.8rem;
        }
        .input{
            background-color: $color-grey-light-2;
            border-radius: 5rem;
            padding: 0 1rem;
            height: 4rem;
            opacity: 0.7;
            &[type="text"]{
                padding: 1rem 2rem;

            }
            &[type='number']{
                width: 6rem
            }
         
        }
       
    }
}



