@import './base';
.header{
    grid-area: head;
    @include box-shadow;
    .search{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: space-around;
        padding: 2rem 5rem;
        height: 100%;

        &>*{
            margin: 0 2rem 1rem 0;
          
        }
        &__input-item{
            @include flex-row-c;
        }

        label{
            margin-right: 0.8rem;
        }
        input{
            background-color: $color-grey-light-2;
            border-radius: 2rem;
            height: 4rem;
            padding: 1rem;
            &[type="text"]{
                padding: 1rem 3rem;
            }
            &[type='number']{
                width: 6rem
            }
         
        }
        select{
            display: flex;
            padding: 1rem;
            background-color: $color-grey-light-1;
            border-radius: 2rem;

        }
    }
}



