@import './search';
@import './base';
@import './components';

.main-title{
    @include title(2rem);
    @include flex-row-c;
    margin-bottom: 2rem;

}
.sub-title{
    @include title(1.8rem);
    margin-bottom: 1.6rem;
}

.details__link{
    grid-area: link;
    margin: 1rem;
    justify-self: center;

    &__link-item{
        padding: 10rem;
        @include label($color-dark-blue);
        @include flex-row-c;
        &:visited{
            color: #ffffff;
        }
       &-icon{
           fill: white;
       }
    }
    
}
.details{
    grid-area: detail;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    font-size: inherit;
    display: grid;
    grid-template-columns: 2fr auto;
    grid-template-rows: 40vh max-content max-content minmax(min-content, 20rem) minmax(min-content, 40rem) minmax(min-content, 40rem) minmax(max-content, 10rem);
    grid-template-areas:
    "img img"
    "header header"
    "info location"
    "facilities location"
    "QA QA"
    "reviews reviews"
    "link link"
    ;

    &__section{
        padding: 2rem;
        border: lightgrey 0.5px solid;
        border-radius: 2rem;
        margin: 1rem;
    }
    &__img{
        grid-area: img;
        grid-row: 1/2;
        grid-column: 1/4;
        width: 100%;
        height: 100%;

        @supports(object-fit: cover){
            object-fit: cover;  
        }
    }

    &__config{
        grid-area: config;
    }

    &__facilities{
        grid-area: facilities;
       &__title-icon{
           fill: $color-dark-blue
       }
        &__items{
            max-height: 30rem;
            overflow-y: scroll;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            &-item{
                display: flex;
                width: fit-content;
                padding: 0.5rem;
                align-items: center;
                &-icon{
                    fill: yellowgreen;
                    &--food{
                        fill: $color-emphasis;
                    }
                }
            }
            &-item:not(:last-child){
                margin-right: 1.4rem;
            }
        }
    }

    &__cusReviews{
        grid-area: reviews;
        max-height: 40rem;
        overflow-y: scroll;
        &__title-icon{
            fill: $color-light-blue
        }
        &__item{
            position: relative;
            padding: 2rem;
            padding-left: 4rem;
            @include border-radius-card;
            width: 100%;
           
            list-style: none;
            display: grid;
            grid-template-columns: minmax(8rem, 1fr) minmax(min-content, 5fr);
            grid-template-rows: minmax(min-content, max-content) minmax(min-content, 2fr);
            grid-template-areas: 
            "author revHeader"
            "author main";
            grid-column-gap: 0.5rem;

            &:not(:last-child){
                margin-bottom: 2rem;
            }
            &::before{
                content: "";
                @include sideHighlight($color-primary)
            }
            &__author{
                grid-area: author;
                max-width: max-content;
                display: flex;
                flex-direction: column;
                justify-content: center;
                &__name{
                @include title(1.6rem);

                }
            }
            &__header{
                padding-right: 5rem;
                grid-area: revHeader;
                &__title{
                    @include title(2rem)
                }
                &__time{
                    color: $font-color-light;
                }
            }
            &__score{
                grid-area: revHeader;
                @include reviewScoreLabel(1.8rem);
                justify-self: end;
                height: max-content;
             
            }
            &__content{
                grid-area: main;
                align-self: center;
                padding: 1rem 1rem 1rem 3rem;
                &>*{
                    @include flex-row-c;
                }
                &-pro{
                    position: relative;
                    &--icon{
                        fill: yellowgreen;
                        position: absolute;
                        left: -3rem;
                        top: 0.2rem;

                    }
                }
                &-con{
                    position: relative;
                    &--icon{
                        fill: $color-emphasis;
                        position: absolute;
                        left: -3rem;
                        top: 0.2rem;

    
                    }

                }
             
                
                // &>*{
                //     @include flex-row-c;
                //     padding: 1rem 0;
                // }
                // @supports(-webkit-mask-image:url('../img/angle-right-solid.svg')){         
                //     &-pro::before{
                //         content: "";
                //         @include icon-before-element-mask(url('../img/face-smile-solid.svg'), yellowgreen);
                //         }  
                //     &-con::before{
                //         content: "";
                //         @include icon-before-element-mask(url('../img/face-frown-solid.svg'), orangered);
                //             }  
                //     }
             
            }
        }
    }

    &__header{
        grid-area: header;
        display: grid;
        grid-template-columns: 1fr minmax(10rem, max-content);
        grid-template-rows: minmax(max-content, 1.5fr) minmax(1fr, 5rem);
        grid-template-areas: 
        "main review"
        "address price";
        align-items: center;

       
        &-main{
            grid-area: main;
            display: flex;
            flex-wrap: wrap;
            &__isFreeCancellable{
                @include label(rgb(67, 112, 249))
                    
            }
            &__hasBreakfast{
                @include label(green)

            }
    
            &__hotel-name{
                @include title(2.4rem);
                width: 100%;
            }
        } 
        &__hotel-address{
            grid-area: address;
            @include flex-row-c;
           &-icon{
               fill: green;
           }
        }
    }
    &__price{
        grid-area: price;
        justify-self: flex-end;
        &-icon{
            fill: $color-emphasis;
        }
        @include flex-row-c;
    }
        
    &__info{
        grid-area: info;
        &__title-icon{
            fill: $color-primary;
        }
        &__item{
            padding: 1rem 0;
            @include flex-row-c;
        }
        @supports(-webkit-mask-image:url('../img/angle-right-solid.svg')){         
            &__item::before{
                content: "";
                @include icon-before-element-mask(url('../img/angle-right-solid.svg'), $font-color);
                }  
            }
    }
        
    &__review{
        @include reviewScoreLabel(1.8rem);
        align-self: flex-start;
        justify-self: end;
        max-width: max-content;
        grid-area: review;
       
        &-description{
            @include title(1.2rem)
        }
       
    }

    &__nearBy{
        grid-area: location;
        @include flex-col-c;
        max-width: 20rem;

        &-title{
            &-icon{
                fill: $color-star-yellow;
            }
         
        }
        &-landmark{
            margin-bottom: 3rem;
            @include flex-col-c;

            &-item{
                padding: 0.5rem;
            }
        }
        &-station{
            width: 100%;
            @include flex-col-c;
            &-item{
                padding: 1rem;
                width: 100%;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: 1fr;
                border-bottom: $font-color-light 1px solid;
            }
            &-distance{
                justify-self: end;
            }
        }
    }
    &__FAQ{
        grid-area: QA;
        
        &__sidenote{
            color: $font-color-light;
            @include flex-row-c;
            &::before{
                content: "⋇";
                margin-right: 1rem
            }
        }
        
        &__items{
            @include flex-col-c;
            align-items: stretch;
            max-height: 40rem;
            min-height: min-content;
            overflow-y: scroll;
            
        }
        &__item{
            padding: 1rem 3rem;
            position: relative;
            display: flex;
            flex-direction: column;
            background-color: #f0eeee;
            @include border-radius-card;
            &:not(:last-child){
                margin-bottom: 1rem;
            }
            &--time{
                font-size: 1.4rem;
                color: $font-color-light;
                font-weight: 400;
            }
            &-icon{
                @include icon-size-margin;
                fill: $font-color-light;
                position: absolute;
                right: 2rem;
                
                &--close{
                    display: none;
                }
            }
            &--Q, &--Q:visited{
                width: 100%;
                @include title(1.6rem);
                padding: 1.5rem;
                padding-right: 4rem;
                color: $font-color;
                @include flex-row-c;

            }
            &--A{
                max-height: 0;
                overflow: hidden;
                transition: all .5s;
            }

            &:target &--A{
                padding: 2rem 0 2rem 3rem;
                max-height: max-content;
                position: relative;
                &::before{
                    content: "";
                    @include sideHighlight($color-primary);
                    display: block;
                }

            }
            &:target &-icon{
                &--open{
                    display: none;
                }
                &--close{
                    display: inline-block;
                }
            }

        }
    }

}



