@import './base';

a{
    text-decoration: none;
    &:visited{
        color: blueviolet;
    }
}
.search-results{
    overflow: hidden;
    width: min-content;
    height: 100%;
    grid-area: list;
    .results{
        .preview{
            background-color: #fffefe;
            transition: transform .2s;
            padding: 1.5rem 2rem;
            height: 12rem;
            &__link{
                width: 30rem;
                height: 100%;
                display: grid;
                grid-template-columns: 5rem 1fr 3.5rem;
                grid-template-rows: minmax(max-content, 1.1fr), minmax(max-content, 0.9fr);
                grid-template-areas: "img title score"
                "img address address"   
                ;
                align-items: center;
                color: $font-color;
                grid-column-gap: 0.8rem;
            }
            &:hover{
                transform: translateY(-0.5rem);
            }


            &__fig{
                @include list-photo;
                grid-area: img;
                overflow: hidden;
            }
            &__title{
                grid-area: title;
                @include title(1.4rem);
                align-self: flex-end;


            }
            &__address{
                grid-area: address;
                @include flex-row-c;
                font-size: 1.2rem;
                &-icon{
                    fill: green
                }
            }
          
            &__score{
                grid-area: score;
                justify-self: end;
                @include flex-row-c;
                &-icon{
                    fill: $color-star-yellow
                }
                
            }
           
           
           
        }
    }
}
.skeleton{
    height: 12rem;
    width: 30rem;
    padding: 1.5rem 2rem;
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-template-areas: "img text";
    grid-column-gap: 3rem;
    align-items: center;
    &-item{
        animation: skeleton .5s infinite alternate;
    }
    &-img{
        grid-area: img;
        @include list-photo;
        background-color: $color-grey-light-2;
        margin-right: 2rem;
    }
    &-text{
        grid-area: text;
        &-item{
            background-color: $color-grey-light-2;
            height: 1.6rem;
            width: 90%;
            margin: 1rem 0 ;
            
        }
        &-item:last-child{
            width: 60%;
        }
    }
}

@keyframes skeleton {
    0%{
        background-color: $color-grey-light-2;

    }
    100%{
        background-color: rgb(247, 247, 247);

    }
}


