@import './base';
@mixin flex-row-c {
    display: flex;
    align-items: center;
}
@mixin title($font-size) {
    font-weight: 700;
    font-size: $font-size;
}
@mixin icon-before-element($url) {
    background-image: $url;
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center;
    @include icon-size-margin;
}
@mixin icon-before-element-mask($url, $color){
    -webkit-mask-image: $url;
    -webkit-mask-size: contain;
    background-color: $color;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    @include icon-size-margin;
}
@mixin flex-col-c {
    display: flex;
    flex-direction: column;
    align-items: center;
}
@mixin border-radius-card {
    border-radius: 2rem;
}
a{
    text-decoration: none;
    &:visited{
        color: blueviolet;
    }
}
.search-results{
    width: 100%;
    height: 100%;
    grid-area: list;
    .results{
        .preview{
            background-color: #fffefe;
            transition: transform .2s;
            padding: 1.5rem 2rem;
            height: 12rem;
            &__link{
                height: 100%;
                display: grid;
                grid-template-columns: 5rem 1fr 3.5rem;
                grid-template-rows: minmax(max-content, 1.1fr), minmax(max-content, 0.9fr);
                grid-template-areas: "img title score"
                "img address address"   
                ;
                align-items: center;
                color: $font-color;
                grid-column-gap: 0.8rem;
            }
            &:hover{
                transform: translateY(-0.5rem);
            }


            &__fig{
                width: 5rem;
                height: 5rem;
                background-color: rgb(196, 211, 211);
                border-radius: 100%;
                grid-area: img;
                overflow: hidden;
            }
            &__title{
                grid-area: title;
                @include title(1.2rem);
                align-self: flex-end;


            }
            &__address{
                grid-area: address;
                @include flex-row-c;
            }
            &__address::before{
                // @include icon-before-element(url('../img/location-dot-solid.svg'));
               
            }
            &__score{
                grid-area: score;
                justify-self: end;
                @include flex-row-c;

                
            }
             &__score::before{
                // @include icon-before-element(url('../img/star-solid.svg'))
            }
            
            @supports ((-webkit-mask-image:url('../img/location-dot-solid.svg')) or (-webkit-mask-size: cover)){
                &__address::before{
             
                    content: "";
                    @include icon-before-element-mask(url('../img/location-dot-solid.svg'),green);
                   
                }
              
                &__score::before{
                    content: "";
                    @include icon-before-element-mask(url('../img/star-solid.svg'),$color-star-yellow);
                }
            
            }
           
        }
    }
}


